#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Cars'/}
<style>
    .clickable-row{
        cursor: pointer;
    }
</style>
<div id="main-content">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <form action="/products" method="get" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                        <div class="col-md-4">
                            <input type="text" name="search" id="member-finder" class="form-control" placeholder="Хайх"
                                   value="${search}">
                        </div>
                    </form>
                    <div style="float: right;margin-right: 15px">
                        <a href="@{blank()}" class="btn btn-success btn-transparent"><i class="fa fa-plus p-r-10"></i>
                            &{'Car'} &{'add'}</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Автомашины дугаар</th>
                                <th>Эзэмшигчийн нэр</th>

                            </tr>
                            </thead>
                            <tbody>
                            %{count=1}%
                            #{list items:objects,as:'object'}
                            <tr class='clickable-row' data-href='@{controllers.Cars.show(object.id)}' title="Дэлгэрэнгүй">
                                <td>${count}</td>
                                <td>${object.carNumber}</td>
                                <td>${object.name}</td>

                            </tr>
                            %{count++}%
                            #{/list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    #{crud.pagination /}

    </div>
</div>
<script>
    $('div#main-content').css('min-height', screen.height - 138);
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
<style>
    p.crudCount {
        display: none;
    }
</style>