div#loadingImg {
    width: 100%;
    text-align: center;
}

.dhidden {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-icon-sm {
    height: 25px;
    width: 25px;
    padding: 0px 0px !important;
    margin-left: 1px;
}

.panel-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
    padding: 0;
    width: 50%;
    font-family: 'Carrois Gothic', sans-serif;
}

.notiunseen {
    /*background-color: #fcf8e3!important;*/
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
