div#borderOutdent {
    border: 2px solid black;
    padding: 1px;
}

div#borderInner {
    border: 1px solid black;
    padding: 4px;
}

div#printerDiv {
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    font-size: 12px;
}

td.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

td.right {
    text-align: right;
}

table#head1 img {
    height: 86px;
}

table#head1 td {
    text-align: center;
}

.title {
    font-weight: bold;
}

td.border {
    border: 1px solid black;
}

table#exam th {
    border: 1px solid black;
    padding: 1px 4px;
    text-align: center;
    font-size: 12px
}

table#exam td {
    border: 1px solid black;
    padding: 1px 4px;
    font-size: 11px;
}

div.borderLine {
    border-top: 3px solid saddlebrown;
    height: 5px;
    width: 100%;
    border-bottom: 1px solid saddlebrown;
    margin: 5px 0;
}

div#addressDiv a {
    color: #0090D9;
    display: inline;
    width: auto;
    padding: 0;
    background-color: #FFF;
}

table#sign td {
    vertical-align: middle;
    /*padding: 6px 4px;*/
}

table#sign img {
    vertical-align: middle;
    height: 24px;
}

.no-print {
    display: none;
}