#{extends 'CRUD/layout.html' /}
#{set activeMenu:type.name/}
#{set activeMenuSub: 'UsersList'/}
#{set title:messages.get('crud.blank.title', type.modelName) /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/assets/plugins/jcrop/jquery.Jcrop.min.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/assets/css/jquery.mobile.css'}"/>

<style>
    div#permission_settings table thead span {
        font-size: 11px;
    }

    div#permission_settings table th {
        white-space: normal;
    }

    div#permission_settings span.description {
        font-size: 11px;
    }

    .jcrop-holder div {
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile img {
        max-height: 200px;
    }
    .profile-classic .row {
        line-height: 25px;
        margin-bottom: 15px;
    }
    .form-horizontal .control-label {
        padding-top: 7px!important;;
        margin-bottom: 0;
        text-align: right!important;
    }
    .tab-pane{
        background-color: white;
        border-left: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 10px;
    }
</style>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/assets/plugins/jcrop/jquery.Jcrop.min.js'}"></script>
<script type="text/javascript" src="@{'/assets/plugins/jquery-validation/jquery.validate.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/validateOnlyNumber.js'}"></script>
<script type="text/javascript" src="@{'/assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js'}"></script>

<script>
    $(document).ready(function () {
        $('select').selectpicker('refresh');
        var uploader = new qq.FineUploaderBasic({
            button: document.getElementById('upload-button'),
            debug: true,
            request: {
                params: {uploadPath: '/public/userImages/', ratio: "600x600"},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            thumbnails: {
                placeholders: {
                    waitingPath: "@{'/assets/plugins/fine-uploader/placeholders/waiting-generic.png'}",
                    notAvailablePath: "@{'/assets/plugins/fine-uploader/placeholders/not_available-generic.png'}",
                }
            },
            callbacks: {
                onComplete: function (id, name, responseJSON, xhr) {
                    console.log("responseJSON:" + JSON.stringify(responseJSON));
                    this.setDeleteFileParams({
                        fileDir: responseJSON.filedir + "." + responseJSON.extension
                    }, id);
                    $("input[name='object.profilePicture']").val(responseJSON.filedir + "." + responseJSON.extension);
                    $("img#image-avatar").attr('src', responseJSON.filedir + "." + responseJSON.extension);
                    //crop_2.setImage(responseJSON.filedir);
                    $('.jcrop-holder img').attr('src', responseJSON.filedir + "." + responseJSON.extension);
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            }
        });
        cropImage();
    });

    var crop_2;
    function cropImage() {
        // Grab some information about the preview pane
        $('img#image-avatar').Jcrop({
            // start off with jcrop-light class
            aspectRatio: 1,
            minSize: 50,
            bgColor: 'black',
            onSelect: updateCoords,
            onChange: updateCoords
        }, function () {
            crop_2 = this;
            crop_2.setSelect([0, 0, 100, 100]);
            crop_2.setOptions({
                bgFade: true,
                allowSelect: false,
                allowResize: true
            });
            crop_2.ui.selection.addClass('jcrop-selection');
        });
        function updateCoords(c) {
//        $("div#profilePicture input#coords").val("X : " + c.x + ", Y : " + c.y + ", X2 : " + c.x2 + ", Y2 : " + c.y2 + ", W : " + c.w + ", H : " + c.h)
            $('input[name="object.x"]').val(c.x);
            $('input[name="object.y"]').val(c.y);
            $('input[name="object.w"]').val(c.w);
            $('input[name="object.h"]').val(c.h);
        }
    }
    var nowDate = new Date();
    function showErrorMessage(message) {
        jError(message, {
            HorizontalPosition: "center",
            VerticalPosition: "center",
            ShowOverlay: false,
            TimeShown: 2000,
            OpacityOverlay: 0.5,
            MinWidth: 250
        });
    }

    jQuery(' .datetimepicker').each(function () {
        $(this).datetimepicker({lang: 'mn', timepicker: false, format: 'Y-m-d', scrollMonth: false});
    });

    $(document).ready(function () {
        jQuery.validator.addMethod(
                "multiemails",
                function (value, element) {
                    if (this.optional(element)) // return true on optional element
                        return true;
                    var emails = value.split(','),
                            valid = true;
                    for (var i in emails) {
                        value = emails[i];
                        valid = valid &&
                                jQuery.validator.methods.email.call(this, $.trim(value), element);
                    }
                    return valid;
                },
                jQuery.validator.messages.multiemails
        );
        $("div#main-content form").validate({
            rules: {
                'object.email': {required: false, multiemails: true},
            },
            messages: {
                'object.email': {
                    multiemails: "Та хэд хэдэн и-мэйл хаяг бичихдээ , авч хаягаа зөв оруулна уу!"
                }
            }
        });
        $('input#object_phone1').forceNumericOnlyLength(8);
        $('input#object_phone2').forceNumericOnlyLength(8);
        $('input#object_code').forceNumericOnlyLength(4);

        $('div#main-content form').submit(function (event) {
            var sel_Labs = "";
            var lasb_val = $('div#main-content select#object_laboratory').val();
            if ($('div#profilePicture img').attr('src').length < 1) {
                showErrorMessage("Заавал зураг оруулах ёстой!");
                return false;
            } else if ($('input#object_surName').val().length < 1) {
                showErrorMessage("Ургийн овог бичнэ үү!");
                return false;
            } else if ($('input#object_lastName').val().length < 1) {
                showErrorMessage("Эцэг, эхийн нэр бичнэ үү!");
                return false;
            } else if ($('input#object_firstName').val().length < 1) {
                showErrorMessage("Нэр бичнэ үү!");
                return false;
            } else if ($('input#object_username').val().length < 1) {
                showErrorMessage("Нэвтрэх нэр бичнэ үү!");
                return false;
            } else if ($('input#object_password').val().length < 1) {
                showErrorMessage("Нууц үг бичнэ үү!");
                return false;
            } else if ($('select#object_userPosition').val() < 1) {
                showErrorMessage("Албан тушаал сонгоно уу!");
                return false;
            } else if ($('input#object_email').val().length < 1) {
                showErrorMessage("И-Мэйл хаяг бичнэ үү!");
                return false;
            } else if ($('input#object_phone1').val().length != 8 || isNaN(parseInt($('input#object_phone1').val()))) {
                showErrorMessage("Утасны дугаар оруулна уу!");
                return false;
            } else {
                sel_Labs += lasb_val + ",";
                $('input#sel_Labs').val(sel_Labs);
                var saveBtn = $('div#main-content button#saveBtn');
                saveBtn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");
                saveBtn.attr("disabled", "disabled");
                return true;
            }
        });
        #{if flash.error || error}
            showErrorMessage('${error ?: flash.error}');
        #{/if}
//        $('select#object_userType').on('change', function () {
//            if ($(this).val() == 0) {
//                $('div#sum_emch').hide();
//                $('div#baitsaagch').hide();
//                $('div#huleen_awagch').hide();
//            }
//            if ($(this).val() == 1) {
//                $('div#sum_emch').show();
//                $('div#baitsaagch').hide();
//                $('div#huleen_awagch').hide();
//            }
//            if ($(this).val() == 2) {
//                $('div#sum_emch').hide();
//                $('div#baitsaagch').show();
//                $('div#huleen_awagch').hide();
//            }
//            if ($(this).val() == 3) {
//                $('div#sum_emch').hide();
//                $('div#baitsaagch').hide();
//                $('div#huleen_awagch').show();
//            }
//        });
        $('select#object_aimagHot').on('change', function () {
            if ($(this).val() > 0) {
                $.ajax({
                    type: "POST",
                    data: "id=" + $(this).val(),
                    url: "/loadSumName"
                }).success(function (data) {
                    $('select#object_sumDuureg').html(data).selectpicker('refresh');
                });
            }
        });
        $('select#object_doctor_type').on('change', function () {
            if ($(this).val() == 1) $('#approve_doctor').hide();
            else  $('#approve_doctor').show();
        });
        createSignatureUploader();
        $('div#main-content input.object_latin').bind('keyup', function () {
            $(this).val($(this).val().replace(/[^a-zA-Z0-9._]/i, ""))
        });
    });
    var ratio = "800x200", aktuploaderBlankPDF;

    function createSignatureUploader() {
        aktuploaderBlankPDF = new qq.FineUploaderBasic({
            button: document.getElementById('file-uploader-sign'),
            debug: true,
            validation: {
                allowedExtensions: ["png", "jpg"]
            },
            request: {
                params: {uploadPath: '/public/signatures/', ratio: ratio},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            callbacks: {
                onSubmit: function (id, fileName) {
                },
                onProgress: function (id, fileName, loaded, total) {
                    var s = $("#uploadProgress");
                    if (s.length > 0)
                        s.text(parseInt(loaded * 100 / total) + "%");
                },
                onComplete: function (id, fileName, responseJSON) {
                    $("#uploadProgress").text('');
                    if (responseJSON.success == true) {
                        var d = new Date();
                        var imgTag = $('div#main-content img#signImg');
                        var profileUrl = responseJSON['filedir'] + "." + responseJSON['extension'];
                        $(imgTag).attr('src', profileUrl + "?" + d.getTime());
                        $("input#object_signature").val(profileUrl);
                    } else showErrorMessage("&{'image_not_RGB'}");
                }
            }
        });
    }
    $('div#main-content img#signImg').on('click', function () {
        $("div#file-uploader-sign input").click();
    });

</script>
#{/set}
<div class="row">
    <div class="col-md-12">
                <form action="@{create()}" class="form-horizontal" role="form" id="settings" method="post"
                      accept-charset="utf-8" enctype="multipart/form-data">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" style="margin-bottom: 0px;">
                            <li class="active"><a href="#general_settings" data-toggle="tab">Хэрэглэгчийн мэдээлэл</a>
                            </li>
                            <li><a href="#permission_settings" data-toggle="tab">Хандах эрхүүд</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="general_settings">
                                <div class="row profile">
                                    <div class="col-md-12">
                                        <div class="row"><br>
                                            <div class="col-md-12">
                                                <div id="profilePicture">
                                                    <ul class="list-unstyled profile-nav col-md-3">
                                                        <li>
                                                        %{ramdomPic=controllers.Functions.randomNumber(13)}%
                                                            <img style="cursor: pointer"
                                                                 src="/assets/images/avatars/avatar${ramdomPic}_big.png"
                                                                 id="image-avatar"/>
                                                        </li>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <div id="upload-button" class="btn btn-default">
                                                            <div>Зураг хуулах</div>
                                                        </div>
                                                    </ul>
                                                    <input type="hidden" id="object_x" name="object.x" value="0">
                                                    <input type="hidden" id="object_y" name="object.y" value="0">
                                                    <input type="hidden" id="object_w" name="object.w" value="100">
                                                    <input type="hidden" id="object_h" name="object.h" value="100">
                                                </div>
                                                <input type="hidden" id="object_profilePicture"
                                                       value="/assets/images/avatars/avatar${ramdomPic}_big.png"
                                                       name="object.profilePicture"/>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel-body">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-user c-gray m-r-10"></i>
                                                            ҮНДСЭН МЭДЭЭЛЭЛ
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding-top: 0">

                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Овог:
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_lastName"
                                                                       name="object.lastName">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Нэр:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_firstName"
                                                                       name="object.firstName">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Ажилтны код:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_code" name="object.code"
                                                                       pattern="\d*" maxlength="4">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Ажилд орсон огноо:
                                                            </div>
                                                            <div class="col-md-6 crud-datepicker">
                                                                <input type="text" class="form-control datetimepicker"
                                                                       id="object_employmentDate"
                                                                       name="object.employmentDate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Хүйс:</div>
                                                            <div class="col-md-2">
                                                                <label>
                                                                    <input type="radio" name="object.isMen" checked
                                                                           style="display: none" value="1"/>
                                                                    <span class="description">Эрэгтэй</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>
                                                                    <input type="radio" name="object.isMen"
                                                                           style="display: none" value="0"/>
                                                                    <span class="description">Эмэгтэй</span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Регистрийн
                                                                дугаар:
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_registerNumber"
                                                                       name="object.registerNumber">
                                                            </div>
                                                        </div>
                                                        *{<div class="row">
                                                            <div class="control-label c-gray col-md-3">Төрсөн огноо:
                                                            </div>
                                                            <div class="col-md-6 crud-datepicker">
                                                                <input type="text" class="form-control"
                                                                       id="object_birthday"
                                                                       name="object.birthday"
                                                                       value="${(object?.birthday?object.birthday:nowDate).format('yyyy-MM-dd')}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Төрсөн газар:
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_birthPlace"
                                                                       name="object.birthPlace">
                                                            </div>
                                                        </div>}*
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel-body">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i
                                                                class="fa fa-cog c-gray m-r-10"></i>
                                                            СИСТЕМИЙН БҮРТГЭЛ
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Нэвтрэх нэр:
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control object_latin"
                                                                       id="object_username"
                                                                       name="object.username"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Нууц үг:</div>
                                                            <div class="col-md-6">
                                                                <input type="password" class="form-control object_latin"
                                                                       id="object_password"
                                                                       name="object.password"></div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Албан тушаал:
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select name="object.userPosition.id"
                                                                        class="selectpicker"
                                                                        id="object_userPosition">
                                                                    <option value="0">Сонгох</option>
                                                                #{list items:userPositions,as:'position'}
                                                                    <option value="${position.id}">${position.name}</option>
                                                                #{/list}
                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel-body">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-phone c-gray m-r-10"></i>
                                                            ХОЛБОО БАРИХ
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">И-Мэйл:</div>
                                                            <div class="col-md-6">
                                                                <input type="email" class="form-control"
                                                                       id="object_email"
                                                                       name="object.email">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Утас:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_phone1"
                                                                       name="object.phone1">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Яаралтай үед холбоо барих утас:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       id="object_phone2"
                                                                       name="object.phone2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel-body">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-home c-gray m-r-10"></i>
                                                            ГЭРИЙН ХАЯГ
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Хот, Аймаг:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       name="object.address1">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Дүүрэг, Сум:
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       name="object.address2">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Хороо, Баг:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       name="object.address3">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Хаяг:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control"
                                                                       name="object.address4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="permission_settings"><br>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                    #{list items:permissions,as:'permission'}
                                        <td style="width: 20%">${permission.name}</td>
                                        <td style="width: 20%">
                                            <label>
                                                <input type="radio" name="permission-${permission.id}" value="0"
                                                       style="display: none" checked/>
                                                <span class="description">Ашиглахгүй</span>
                                            </label>
                                        </td>
                                        #{list items:permission.permissionTypes,as:'permissionType'}
                                            <td style="width: 20%">
                                                <label>
                                                    <input type="radio" name="permission-${permission.id}"
                                                           value="${permissionType.value}"
                                                           style="display: none"/>
                                                    <span class="description">${permissionType.description}</span>
                                                </label>
                                            </td>
                                        #{/list}
                                    </tr>
                                    #{/list}
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="align-center m-t-20">
                                            <center><button id=saveBtn type="submit" name="_save"
                                                    class="btn btn-primary m-r-20">
                                                Хадгалах
                                            </button></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </form>
            </div>
</div>