#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set activeMenu:type.name/}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/assets/plugins/jcrop/jquery.Jcrop.min.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/assets/plugins/fine-uploader/fine-uploader.css'}"/>
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Энд файлуудыг унагаа">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector">
            <button class="btn btn-secondary">Зураг хуулах</button>
        </div>
<span class="qq-drop-processing-selector qq-drop-processing">
<span>Зураг хуулж байана...</span>
<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
</span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="нэр засах"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Болих</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Дахин хуулах</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Устгах</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Хаах</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Үгүй</button>
                <button type="button" class="qq-ok-button-selector">Тийм</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">

            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Болих</button>
                <button type="button" class="qq-ok-button-selector">Тийм</button>
            </div>
        </dialog>
    </div>
</script>
<style>
    div#general_settings .ui-radio {
        margin: 0;
    }

    div#permission_settings table thead span {
        font-size: 11px;
    }

    div#permission_settings table th {
        white-space: normal;
    }

    div#permission_settings span.description {
        font-size: 11px;
    }

    .jcrop-holder div {
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile img {
        max-height: 200px;
    }

    .profile-classic .row {
        line-height: 25px;
        margin-bottom: 15px;
    }
    .form-horizontal .control-label {
        padding-top: 7px!important;;
        margin-bottom: 0;
        text-align: right!important;
    }

    .tab-pane {
        background-color: white;
        border-left: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        #{if admin!=3}  border-top: 1px solid lightgrey; #{/if}
        padding: 10px;
    }

    .check_in{
        margin:7px 0px 0px 0px !important;
    }
</style>
#{/set}

#{set 'moreScripts'}
<link rel="stylesheet" media="screen" href="@{'/assets/plugins/jcrop/jquery.Jcrop.min.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/assets/css/jquery.mobile.css'}"/>
<script src="@{'/assets/plugins/fine-uploader/fine-uploader.min.js'}" type="text/javascript"></script>
<script src="@{'/assets/plugins/jcrop/jquery.Jcrop.min.js'}" type="text/javascript"></script>
<script src="@{'/assets/plugins/jquery-validation/jquery.validate.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/validateOnlyNumber.js'}" type="text/javascript"></script>
<script src="@{'/assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js'}" type="text/javascript"></script>


<script>
    $(document).ready(function () {
        $('select').selectpicker('refresh');
        var uploader = new qq.FineUploader({
            element: document.getElementById('image-uploader'),
            button: document.getElementById('upload-button'),
            debug: true,
            request: {
                params: {uploadPath: '/public/userImages/', ratio: "600x600"},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            thumbnails: {
                placeholders: {
                    waitingPath: "@{'/assets/plugins/fine-uploader/placeholders/waiting-generic.png'}",
                    notAvailablePath: "@{'/assets/plugins/fine-uploader/placeholders/not_available-generic.png'}",
                }
            },
            callbacks: {
                onComplete: function (id, name, responseJSON, xhr) {
                    console.log("responseJSON:" + JSON.stringify(responseJSON));
                    this.setDeleteFileParams({
                        fileDir: responseJSON.filedir + "." + responseJSON.extension
                    }, id);
                    $("input[name='object.profilePicture']").val(responseJSON.filedir + "." + responseJSON.extension);
                    $("img#image-avatar").attr('src', responseJSON.filedir + "." + responseJSON.extension);
                    //crop_2.setImage(responseJSON.filedir);
                    $('.jcrop-holder img').attr('src', responseJSON.filedir + "." + responseJSON.extension);
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            }
        });
        cropImage();
    });


    var crop_2;
    function cropImage() {
        // Grab some information about the preview pane
        $('img#image-avatar').Jcrop({
            // start off with jcrop-light class
            aspectRatio: 1,
            minSize: 50,
            bgColor: 'black',
            onSelect: updateCoords,
            onChange: updateCoords
        }, function () {
            crop_2 = this;
            crop_2.setSelect([0, 0, 100, 100]);
            crop_2.setOptions({
                bgFade: true,
                allowSelect: false,
                allowResize: true
            });
            crop_2.ui.selection.addClass('jcrop-selection');
        });
        function updateCoords(c) {
//        $("div#profilePicture input#coords").val("X : " + c.x + ", Y : " + c.y + ", X2 : " + c.x2 + ", Y2 : " + c.y2 + ", W : " + c.w + ", H : " + c.h)
            $('input[name="object.x"]').val(c.x);
            $('input[name="object.y"]').val(c.y);
            $('input[name="object.w"]').val(c.w);
            $('input[name="object.h"]').val(c.h);
        }
    }

    var nowDate = new Date();

    function showErrorMessage(message) {
        jError(message, {
            HorizontalPosition: "center",
            VerticalPosition: "center",
            ShowOverlay: false,
            TimeShown: 2000,
            OpacityOverlay: 0.5,
            MinWidth: 250
        });
    }
    function showSuccessMessage(message) {
        jSuccess("<i class='fa fa-check' style='padding-right:6px'></i> " + message, {
            HorizontalPosition: "center",
            VerticalPosition: "center",
            ShowOverlay: false,
            TimeShown: 2000,
            OpacityOverlay: 0.5,
            MinWidth: 250
        });
    }
    jQuery(' .datetimepicker').each(function () {
        $(this).datetimepicker({lang: 'mn', timepicker: false, format: 'Y-m-d', scrollMonth: false});
    });
    $(document).ready(function () {
        #{if usercheck.id==user.id}
            $('button#btnChangePassword').click(function () {
                $(this).find("i").removeClass().addClass("fa fa-spinner faa-spin animated");
                $.ajax({
                    type: "POST",
                    data: {
                        oldPass: $('input#password_old').val(),
                        newPass: $('input#password_new').val(),
                        newRepeatPass: $('input#password_repeat').val()
                    }, url: "/userSavePassword"
                }).success(
                        function (data) {
                            if (data == "success")
                                showSuccessMessage("Нууц үг амжилттай солигдлоо!");
                            else
                                showErrorMessage(data);
                            $('button#btnChangePassword').find("i").removeClass().addClass("fa fa-check");
                        });
            });
        #{/if}
        $('input#object_phone1').forceNumericOnlyLength(8);
        $('input#object_phone2').forceNumericOnlyLength(8);

        $('div#main-content form#settings').submit(function (event) {
            var sel_Labs = "";
            var lasb_val = $('div#main-content select#object_laboratory').val();
            if ($('div#profilePicture img').attr('src').length < 1) {
                showErrorMessage("Заавал зураг оруулах ёстой!");
                return false;
            } else if ($('input#object_surName').val().length < 1) {
                showErrorMessage("Ургийн овог бичнэ үү!");
                return false;
            } else if ($('input#object_lastName').val().length < 1) {
                showErrorMessage("Эцэг, эхийн нэр бичнэ үү!");
                return false;
            } else if ($('input#object_firstName').val().length < 1) {
                showErrorMessage("Нэр бичнэ үү!");
                return false;
            } else if ($('input#object_username').val().length < 1) {
                showErrorMessage("Нэвтрэх нэр бичнэ үү!");
                return false;
            } else if ($('select#object_userPosition').val() < 1) {
                showErrorMessage("Албан тушаал сонгоно уу!");
                return false;
            } else if ($('input#object_email').val().length < 1) {
                showErrorMessage("И-Мэйл хаяг бичнэ үү!");
                return false;
            } else if ($('input#object_phone1').val().length != 8 || isNaN(parseInt($('input#object_phone1').val()))) {
                showErrorMessage("Утасны дугаар оруулна уу!");
                return false;
            } else {
                sel_Labs += lasb_val + ",";
                $('input#sel_Labs').val(sel_Labs);

                $('div#main-content button.saveBtn').each(function () {
                    $(this).append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");
                    $(this).attr("disabled", "disabled");
                });
                return true;
            }
        });
        #{if flash.success}
            setInterval(showSuccessMessage('${flash.success}'), 3000);
        #{/if}

        #{if flash.error || error}
            setInterval(showErrorMessage('${error ?: flash.error}'), 3000);
        #{/if}
        createSignatureUploader();

//        $('select#object_userType').on('change', function () {
//            if ($(this).val() == 0) {
//                $('div#sum_emch').hide();
//                $('div#baitsaagch').hide();
//                $('div#huleen_awagch').hide();
//            }
//            if ($(this).val() == 1) {
//                $('div#sum_emch').show();
//                $('div#baitsaagch').hide();
//                $('div#huleen_awagch').hide();
//                $('div#approve_doctor').show();
//            }
//            if ($(this).val() == 2) {
//                $('div#sum_emch').hide();
//                $('div#baitsaagch').show();
//                $('div#huleen_awagch').hide();
//            }
//            if ($(this).val() == 3) {
//                $('div#sum_emch').hide();
//                $('div#baitsaagch').hide();
//                $('div#huleen_awagch').show();
//            }
//        });
        $('select#object_aimagHot').on('change', function () {
            if ($(this).val() > 0) {
                $.ajax({
                    type: "POST",
                    data: "id=" + $(this).val(),
                    url: "/loadSumName"
                }).success(function (data) {
                    $('select#object_sumDuureg').html(data).selectpicker('refresh');
                });
            }
        });
        $('select#object_doctor_type').on('change', function () {
            if ($(this).val() == 1) $('#approve_doctor').hide();
            else  $('#approve_doctor').show();
        });
        createSignatureUploader();
        $('div#main-content input.object_latin').bind('keyup', function () {
            $(this).val($(this).val().replace(/[^a-zA-Z0-9._]/i, ""))
        });
    });
    var ratio = "800x200", aktuploaderBlankPDF;

    function createSignatureUploader() {
        aktuploaderBlankPDF = new qq.FineUploaderBasic({
            button: document.getElementById('file-uploader-sign'),
            debug: true,
            validation: {
                allowedExtensions: ["png", "jpg"]
            },
            request: {
                params: {uploadPath: '/public/signatures/', ratio: ratio},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            callbacks: {
                onSubmit: function (id, fileName) {
                },
                onProgress: function (id, fileName, loaded, total) {
                    var s = $("#uploadProgress");
                    if (s.length > 0)
                        s.text(parseInt(loaded * 100 / total) + "%");
                },
                onComplete: function (id, fileName, responseJSON) {
                    $("#uploadProgress").text('');
                    if (responseJSON.success == true) {
                        var d = new Date();
                        var imgTag = $('div#main-content img#signImg');
                        var profileUrl = responseJSON['filedir'] + "." + responseJSON['extension'];
                        $(imgTag).attr('src', profileUrl + "?" + d.getTime());
                        $("input#object_signature").val(profileUrl);
                    } else showErrorMessage("&{'image_not_RGB'}");
                }
            }
        });
    }
    $('div#main-content img#signImg').on('click', function () {
        $("div#file-uploader-sign input").click();
    });
        #{if usercheck.id==user.id}
        $("#changePassword").click(function () {
            if ($(this).is(':checked')) {
                $("#password-input").show();
            } else {
                $("#password-input").hide();
            }
        });
        #{/if}
        #{if admin==3}
        function deleteUser() {
            if (confirm("${object} -г устгах уу?")) {
                $('form#deleteUserForm').submit();
            }
        }
        #{/if}
</script>

#{/set}
<div class="row">
    <div class="col-md-12">
        <form action="@{save(object.id)}" class="form-horizontal" role="form" id="settings" method="post"
              accept-charset="utf-8" enctype="multipart/form-data">
            <input type="hidden" name="sel_Labs" id="sel_Labs">

            <div class="tabbable tabbable-custom form">
            #{if admin==3}
                <ul class="nav nav-tabs" style="margin-bottom: 0px;">
                    <li class="active"><a href="#general_settings" data-toggle="tab">Хэрэглэгчийн мэдээлэл</a></li>
                    <li><a href="#permission_settings" data-toggle="tab">Хандах эрхүүд</a></li>
                </ul>
            #{/if}
                <div class="tab-content">
                    <div class="tab-pane active" id="general_settings">
                        <div class="row profile">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="profilePicture">
                                            <ul class="list-unstyled profile-nav col-md-3">
                                                <li>
                                                    <img style="cursor: pointer"
                                                         src="${object.profilePicture}" id="image-avatar"/>
                                                </li>
                                                <div id="upload-button" class="btn btn-default"
                                                     style="margin-left: 50px;">
                                                    <div>Зураг хуулах</div>
                                                </div>
                                                <div id="image-uploader" style="display: none"></div>
                                            </ul>
                                            <input type="hidden" id="object_x" name="object.x" value="${object.x}">
                                            <input type="hidden" id="object_y" name="object.y" value="${object.y}">
                                            <input type="hidden" id="object_w" name="object.w" value="${object.w}">
                                            <input type="hidden" id="object_h" name="object.h" value="${object.h}">
                                        </div>
                                        <input type="hidden" id="object_profilePicture"
                                               value="${object.profilePicture}" name="object.profilePicture"/>
                                    #{if admin==3}
                                        <button class="btn btn-danger btn-transparent m-r-10 m-t-10"
                                                style="float: right" onclick="deleteUser()" type="button"><i
                                                class="fa fa-times"></i> Ажлаас гарсан
                                        </button>
                                    #{/if}
                                    </div>
                                </div>
                                <div class="row profile-classic">
                                    <div class="col-md-12">
                                        <div class="panel-body">
                                            <div class="panel-title line">
                                                <div class="caption"><i class="fa fa-user f-20 c-gray m-r-10"></i>
                                                    ҮНДСЭН МЭДЭЭЛЭЛ
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-top: 0">

                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Овог :
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="object_lastName"
                                                               value="${object.lastName}"
                                                               name="object.lastName">
                                                    </div>
                                                    <div class="control-label c-gray col-md-2">Нэр :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               id="object_firstName" value="${object.firstName}"
                                                               name="object.firstName">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Ажилтны код :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               id="object_code" value="${object.code}"
                                                               name="object.code">
                                                    </div>
                                                    <div class="control-label c-gray col-md-2">Ажилд орсон огноо:
                                                    </div>
                                                    <div class="col-md-3 crud-datepicker">
                                                        <input type="text" class="form-control datetimepicker"
                                                               id="object_employmentDate"
                                                               name="object.employmentDate"
                                                               value="${object?.employmentDate?.format('yyyy-MM-dd')}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Хүйс :</div>
                                                    <div class="col-md-2" style="width: 12%;">
                                                        <label>
                                                            <input type="radio" id="object_isMen"
                                                                   name="object.isMen" value="1"
                                                                   #{if object.isMen}checked#{/if}
                                                                   style="display: none"/>
                                                            <span class="description">Эрэгтэй</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-1" style="width: 13%;">
                                                        <label>
                                                            <input type="radio" name="object.isMen"
                                                                   style="display: none"
                                                                   #{if !object.isMen}checked #{/if} value="0"/>
                                                            <span class="description">Эмэгтэй</span>
                                                        </label>
                                                    </div>
                                                    <div class="control-label c-gray col-md-2">Регистрийн дугаар :
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               id="object_registerNumber"
                                                               value="${object.registerNumber}"
                                                               name="object.registerNumber">
                                                    </div>
                                                </div>
                                                *{<div class="row">
                                                    <div class="control-label c-gray col-md-3">Төрсөн огноо:
                                                    </div>
                                                    <div class="col-md-6 crud-datepicker">
                                                        <input type="text" class="form-control"
                                                               id="object_birthday"
                                                               name="object.birthday"
                                                               value="${object?.birthday?.format('yyyy-MM-dd')}">
                                                    </div>
                                                </div>}*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row profile-classic">
                                    <div class="col-md-12">
                                        <div class="panel-body">
                                            <div class="panel-title line">
                                                <div class="caption"><i
                                                        class="fa fa-cog c-gray m-r-10"></i>
                                                    СИСТЕМИЙН БҮРТГЭЛ
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Нэвтрэх нэр :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control object_latin"
                                                               id="object_username"
                                                               value="${object.username}"
                                                               name="object.username"></div>

                                                    <div class="control-label c-gray col-md-2">Албан тушаал:
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select name="object.userPosition.id"
                                                                class="selectpicker"
                                                                id="object_userPosition">
                                                            <option value="0">Сонгох</option>
                                                        #{list items:userPositions,as:'position'}
                                                            <option value="${position.id}" ${object.userPosition.id == position.id ? 'selected' : ''}
                                                                    >${position.name}</option>
                                                        #{/list}
                                                        </select>

                                                    </div>
                                                </div>
                                            #{if usercheck.id==user.id}
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Нууц үг солих :</div>
                                                    <div class="col-md-3">
                                                        <label>
                                                            <input type="checkbox" id="changePassword" class="check_in">
                                                        </label>

                                                        <div id="password-input" style="display: none">
                                                            <div class="row">
                                                                <div class="control-label c-gray col-md-3">Хуучин нууц
                                                                    үг :
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="password"
                                                                           class="form-control object_latin"
                                                                           id="password_old"
                                                                           style="line-height: 12px">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="control-label c-gray col-md-3">Шинэ нууц үг
                                                                    :
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="password"
                                                                           class="form-control object_latin"
                                                                           id="password_new"
                                                                           style="line-height: 12px">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="control-label c-gray col-md-3">Дахин бич :
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="password"
                                                                           class="form-control object_latin"
                                                                           id="password_repeat"
                                                                           style="line-height: 12px">
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" id="btnChangePassword"
                                                                            class="btn btn-success"
                                                                            style="padding: 4px 15px;">
                                                                        <i class="fa fa-check"></i> Солих
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            #{/if}



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row profile-classic">
                                    <div class="col-md-12">
                                        <div class="panel-body">
                                            <div class="panel-title line">
                                                <div class="caption"><i class="fa fa-phone f-20 c-gray m-r-10"></i>
                                                    ХОЛБОО БАРИХ
                                                </div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Утас :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               id="object_phone1"
                                                               value="${object.phone1}"
                                                               name="object.phone1">
                                                    </div>
                                                    <div class="control-label c-gray col-md-2">И-Мэйл :</div>
                                                    <div class="col-md-3">
                                                        <input type="email" class="form-control"
                                                               id="object_email"
                                                               value="${object.email}"
                                                               name="object.email">
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Яаралтай үед холбоо барих :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               id="object_phone2"
                                                               value="${object.phone2}"
                                                               name="object.phone2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row profile-classic">
                                    <div class="col-md-12">
                                        <div class="panel-body">
                                            <div class="panel-title line">
                                                <div class="caption"><i class="fa fa-home f-20 c-gray m-r-10"></i>
                                                    ГЭРИЙН ХАЯГ
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Хот, Аймаг :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               value="${object.address1}"
                                                               name="object.address1">
                                                    </div>
                                                    <div class="control-label c-gray col-md-2">Дүүрэг, Сум :
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               value="${object.address2}"
                                                               name="object.address2">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="control-label c-gray col-md-2">Хороо, Баг :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               value="${object.address3}"
                                                               name="object.address3">
                                                    </div>
                                                    <div class="control-label c-gray col-md-2">Хаяг :</div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control"
                                                               value="${object.address4}"
                                                               name="object.address4">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    #{if usercheck.id==user.id || admin==2}
                        <div class="row">
                            <div class="col-sm-12">
                                <center>
                                    <div class="align-center m-t-20">
                                        <button type="submit" name="_save" class="saveBtn btn btn-primary m-r-20">
                                            Хадгалах
                                        </button>
                                    </div>
                                </center>
                            </div>
                        </div>
                    #{/if}
                    </div>
                #{if admin==3}
                    <div class="tab-pane" id="permission_settings">
                        <table class="table">
                            <tbody>
                            <tr>
                                #{list items:permissions,as:'permission'}
                                %{selectedPermission=object.getPermission(permission.id)}%
                                    <td style="width: 20%">${permission.name}</td>
                                    <td style="width: 20%">
                                        <label>
                                            <input type="radio" name="permission-${permission.id}" value="0"
                                                   style="display: none" ${selectedPermission==0?'checked':''}/>
                                            <span class="description">Ашиглахгүй</span>
                                        </label>
                                    </td>
                                %{count1=0;}%
                                    #{list items:permission.permissionTypes,as:'permissionType'}
                                        <td style="width: 20%">
                                            <label>
                                                <input type="radio" name="permission-${permission.id}"
                                                       value="${permissionType.value}"
                                                       style="display: none" ${selectedPermission==permissionType.value?'checked':''}/>
                                                <span class="description">${permissionType.description}</span>
                                            </label>
                                        </td>
                                    %{count1++;}%
                                    #{/list}
                                %{for (c=count1;c < 3;c++){}%
                                    <td></td>%{}}%
                                </tr>
                                #{/list}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="align-center m-t-20">
                                    <center>
                                        <button type="submit" name="_save" class="saveBtn btn btn-primary m-r-20">
                                            Хадгалах
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                #{/if}
                </div>
                <!--END TABS-->
            </div>
        </form>
    </div>
</div>
#{if admin==3}
<form id="deleteUserForm" action="/usersDeleteUser/${object.id}" method="get" accept-charset="utf-8"></form>
#{/if}

