#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'UserTeams'/}
#{set title:'Багууд'/}
<div id="main-content">
    <div class="row">
        <div class="panel panel-default">
        #{if !isAimagLeader}
            <div class="panel-heading">
                <div class="row">
                    <form action="/userteams" method="get" accept-charset="utf-8"
                          enctype="application/x-www-form-urlencoded">
                        <div class="col-md-4">
                            <input type="text" name="search" id="member-finder" class="form-control" placeholder="Хайх"
                                   value="${search}">
                        </div>
                    </form>
                    <div style="float: right;margin-right: 15px">
                        <a href="@{blank()}" class="btn btn-success btn-transparent"><i class="fa fa-plus p-r-10"></i>
                        &{'UserTeam'} &{'add'}</a>
                    </div>
                </div>
            </div>
        #{/if}
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-hover">
                            <thead id="headTH">
                            <tr>
                                <th>#</th>
                                <th>Богино нэр</th>
                                <th>Нэр</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            %{countNum=1}%
                            #{list items:objects,as:'object'}
                            <tr>
                                <td>${((page-1)*30)+countNum}</td>
                                <td>${object.nameMin}</td>
                                <td>${object.name}</td>
                                <td><a href="@{controllers.UserTeams.show(object.id)}"
                                       class="edit btn btn-sm btn-default"><i
                                        class="fa fa-pencil"></i> Засах</a></td>
                            </tr>
                            %{countNum++}%
                            #{/list}
                            </tbody>
                        </table>
                        #{crud.pagination /}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('div#main-content').css('min-height', screen.height - 138);
</script>
<style>
    .pagination {
        margin: 10px 0;
    }

    thead#headTH th {
        font-size: 11px;
    }
</style>