<div style="display: none" id="upload-button"></div>
<div id="attachContainer" style="height: 25px;">
    <div style="display: none" id="documentImageTemplate">
        <li class="newAttach">
            <span> <button type="button" class="btn upload btn-default btn-icon-sm btn-rounded"
                           data-rel="tooltip" title="Хавсаргах"><i class="fa fa-cloud-upload"></i></button></span>
        </li>
    </div>
    <div style="display: none" id="deleteImageTemplate">
        <img height='12' class='deleteUploadedImage' width='12' src="@{'/public/images/delete-image.png'}" fileDir='#fileDir' extension='#extension' fileId='#fileId'/>
    </div>
</div>