<div id="file-uploader-demo1" style="display: none"></div>
<div id="attachContainer" style="height: 25px;">
    <div style="display: none" id="documentImageTemplate">
        <li class="newAttach">
        <span>
          <span></span>
        </span>
        </li>
    </div>
    <div style="display: none" id="deleteImageTemplate">
        <img height='12' class='deleteUploadedImage' width='12' src="@{'/public/images/delete-image.png'}"
             fileDir='#fileDir' extension='#extension'/>
    </div>
    <ul id="uploadBox">
        <li class="newAttach">
            <span><span></span></span>
        </li>
    </ul>
</div>