<div class="page-navigation" style="width: 100%; text-align: right;">
    <input class="number-button btn btn-default" ${ CurrentPageNumber - 1 <= 0 ? 'disabled': ''}
           style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;"
           type="button"
           value="<" pagenumber="${CurrentPageNumber - 1}"/>
%{
    int threeDots = 0;
    for(int i = 1; i <= MaxPageNumber; i++){
    if( i == 1 || i == MaxPageNumber || (CurrentPageNumber < 3 && i < 5) ||
    (CurrentPageNumber - 1 <= i && i <= CurrentPageNumber + 1) ||
    (CurrentPageNumber > MaxPageNumber - 2 && i > MaxPageNumber - 4) ){
    }%
    <input class="number-button btn btn-${CurrentPageNumber == i ? 'dark':'default'}" ${CurrentPageNumber == i?'disabled':''}
           style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;"
           type="button"
           value="${i}" pagenumber="${i}"/>
%{ }else{
    if( i == 2 || i == MaxPageNumber - 1 ){
    threeDots = 1;
    }
    if(threeDots == 1){
    }%
    <span style="font-size: x-large;"><strong>...</strong></span>
%{
    threeDots = 0;
    }
    }
    }
    }%
    <input class="number-button btn btn-default"  ${ CurrentPageNumber >= MaxPageNumber ? 'disabled': ''}
           style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;"
           type="button"
           value=">" pagenumber="${CurrentPageNumber + 1}"/>
</div>