<div id=ImgThumbnail${_divid?_divid:''} style="position: fixed;width: 10px;height: 400px;z-index: 2000;  box-shadow: 0 0.5px 5px gray;
        border-radius: 12px;
  min-width: 400px;
    background-color: #ffffff;" class="dhidden">
</div>
<script type="text/javascript">
    var downloadAction = #{jsAction @FunctionController.downloadFile(":fileDir",":fileName",":extension") /};
    function handleAttachmentClick(image, ext) {
        if (ext == undefined)ext = checkFileExtension($(this).attr('extension'));
        if ((ext == wordFile || ext == excelFile || ext == powerPointFile) &&
                (image.attr('filesize').length == 0 || parseFloat(image.attr('filesize')) < 10)) {
            var pathArray = location.href.split('/');
            window.open("http://view.officeapps.live.com/op/view.aspx?src=" + pathArray[2] + image.attr('fileDir') + "." + image.attr('extension'));
        } else if (ext == pdfFile) {
            window.open(image.attr('fileDir') + "." + image.attr('extension'));
        } else if (ext != imageFile) {
            $('body').append("<iframe height='0' width='0' style='display:none' src='" + downloadAction({
                        fileDir: image.attr("fileDir"),
                        fileName: image.attr("fileName"),
                        extension: image.attr("extension")
                    }) + "'/>");
        }
    }
    var objTumb = $('div#ImgThumbnail${_divid?_divid:''}');
    $("${_div} img.imgIcon").mouseenter(
            function (e) {
                if ($(this).attr('type') == "${controllers.Consts.imageFileType}") {
                    var loc = $(this).offset();
                    objTumb.html("<img style='box-shadow: 0 0.5px 5px gray; border-radius: 12px'" +
                            " src=" + $(this).attr('src') + ">");
//                    loc.top -= $(window).scrollTop();
//                    loc.left -= $(window).scrollLeft();
                    if (loc.top > 200)loc.top -= 200;
                    if ((screen.width / 2) < loc.left)loc.left -= 409;
                    else loc.left += 34;
                    loc.top -= $(document).scrollTop();
                    objTumb.css('top', loc.top + "px");
                    objTumb.css('left', loc.left + "px");
                    objTumb.removeClass('dhidden');
                }
            }).mouseleave(function () {
                objTumb.addClass('dhidden');
            }).on('click', function () {
                var ext = checkFileExtension($(this).attr('extension'));
                if (ext != imageFile) handleAttachmentClick($(this), ext);
            });
    function imageHelperGallery(tag) {
        $(tag + " span.fancybox-buttons").fancybox({
            closeBtn: false,

            helpers: {
                title: {
                    type: 'inside'
                },
                thumbs: {
                    width: 50,
                    height: 50
                },
                buttons: {}
            },

            afterLoad: function () {
                this.title = 'Зураг ' + (this.index + 1) + ' / ' + this.group.length + (this.title ? ' - ' + this.title : '');
            }
        });
    }
</script>
<style>
    div.post-images img {
        height: 25px;
        width: 25px;
        cursor: pointer;
        margin: 5px 5px 0 0;
        box-shadow: 0 0 1px gray;
        border: 1px solid #333;
        border-radius: 2px;
        background: white;
    }
</style>