#{if fileShares.size()==0}
<h3>Хоосон</h3>
#{/if}
#{else }
%{count=1;}%
<table id="products-table" class="table table-tools table-hover" style="margin-bottom: 8px">
    <thead>
    <tr>
        <th style="min-width: 30px !important;"><strong>#</strong>
        <th><strong>Файлын нэр</strong></th>
        <th></th>
        <th class="text-center"><strong>Хуулсан</strong>
        </th>
        <th style="text-align: center"></th>
    </tr>
    </thead>
    <tbody id="loadData">
        #{list items:fileShares,as:'file'}
        <tr>
            <td>${count}</td>
            <td>${file.name}${controllers.Functions.handleDocumentIcon(file.dir,file.name,file.extension).raw()}</td>
            <td>
                <span class="downloadTag label label-dark w-300" fileId="${file.id}" fileDir="${file.dir}"
                      fileName="${file.name}" filesize="${file.fileSizeM}"
                      extension="${file.extension}" openType="0"
                      style="cursor: pointer">Нээх</span>
                <span class="downloadTag label label-warning w-300" fileId="${file.id}" fileDir="${file.dir}"
                      fileName="${file.name}"
                      extension="${file.extension}" openType="1"
                      style="cursor: pointer">Татах</span>
            </td>
            <td style="text-align: center">${file.uploader}</td>
            <td style="text-align: center">
                <div class="checkbox">
                    <label><input type="checkbox" value="${file.id}" fileDir="${file.dir}" fileName="${file.name}" filesize="${file.fileSizeM}" extension="${file.extension}"></label>
                </div>
            </td>
        </tr>
        %{count++}%
        #{/list}
    </tbody>
</table>
    #{if MaxPageNumber>1}
        #{include '/SharedView/pageNavigation.html'/}
    #{/if}
<script>
    $('tbody#loadData span.downloadTag').on('click', function () {
        handleAttachmentClickFileCenter($(this));
    });

    $('tbody#loadData span.view').on('click', function () {
        showMoreInfo($(this), 1);
    });
        #{if MaxPageNumber>1}
        $("div#loaderDiv input.number-button").click(function () {
            var pagenumber = $(this).attr('pagenumber');
            if (pagenumber != ${CurrentPageNumber}) {
                loadFiles(selectedFolder, pagenumber);
            }
        });
        #{/if}
</script>
#{/else}