#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Cars'/}
#{set title:'Автомашины ашиглалт'/}
#{flashCrud /}
#{alertMessages /}
#{set 'moreStyles'}
<meta charset="utf-8">
<link rel="stylesheet" media="screen" href="@{'/assets/css/jquery.mobile.css'}"/>
<style>
    .c-gray {
        text-align: right;
        font-size: 14px;
    }

    .form-horizontal .control-label {
        padding-top: 7px !important;;
        margin-bottom: 0;
        text-align: right !important;
    }
    .mytable th,
    .mytable td {
        border: 1px solid lightgrey;
        padding: 4px 8px;
        font-weight: normal;
    }

    .mytable input.noborder {
        width: 98%;
        border: none;
    }

    .text-center:hover{
        background-color: #e6e6e6;
        cursor: pointer;
    }
    .tableInput{
        border: none;
        background-color: transparent;
        width:100%;
    }
    .show-tick{
        width:100%;
    }
</style>
#{/set}

<script src="@{'/assets/plugins/jquery-validation/jquery.validate.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/validateOnlyNumber.js'}" type="text/javascript"></script>
<script src="@{'/assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js'}" type="text/javascript"></script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-body" style="padding: 8px">
            <center><h3>Автомашин ашиглалтын мэдээлэл</h3></center>
            <br><br>

            <form action="@{save(object.id)}" class="form-horizontal" id="productForm" method="post"
                  accept-charset="utf-8" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-2 c-gray">Автомашины дугаар :</div>
                    <div class="col-md-3">
                        <input class="form-control" name="object.carNumber" id="object_carNumber" value="${object.carNumber}">
                    </div>
                    <div class="col-md-2 c-gray">Эзэмшигчийн нэр :</div>
                    <div class="col-md-3">
                        <input class="form-control" name="object.name" id="object_name" value="${object.name}">
                    </div>
                </div>
                <br>

                <div class="row" id="ingredients">
                    <div class="col-md-2 c-gray">Ашиглалт :</div>
                    <div class="col-md-8">
                        <table class="mytable" style="width: 100%">
                            <thead>
                            <tr>
                                <th width="12.5%">Огноо</th>
                                <th width="13%">Унасан жолооч</th>
                                <th width="12.5%">Хүлээн авсан км</th>
                                <th width="13%">Шатахуун хийсэн мэдээлэл</th>
                                <th width="12.5%">Явсан км</th>
                                <th width="12.5%">Хүлээлгэн өгсөн км</th>
                                <th width="13%">Торгуулийн мэдээлэл</th>
                                <th class='text-center' style="width: 10%" onclick="addIngredient()"><i class="fa fa-plus-square"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="productTable">
                            #{list items:object.carSchedules, as:'rel'}
                            <tr id="dd${rel.id}">
                                <td><input type="text" class="tableInput datetimepicker" name="s_date" value="${rel.date?.format('yyyy-MM-dd')}"/></td>
                                <td><input type="text" class="tableInput" name="driver_name" value="${rel.driverName}"/></td>
                                <td><input type="text" class="tableInput" name="receive_km" value="${rel.receiveKm}"/></td>
                                <td><input type="text" class="tableInput" name="went_km" value="${rel.wentKm}"/></td>
                                <td><input type="text" class="tableInput" name="give_km" value="${rel.giveKm}"/></td>
                                <td><input type="text" class="tableInput" name="fuel_info" value="${rel.fuelInfo}"/></td>
                                <td><input type="text" class="tableInput" name="fine_info" value="${rel.fineInfo}"/></td>
                                <td class='text-center' onclick=removeIngredient("dd${rel.id}")><i class='fa fa-minus-square'></i></td>
                            </tr>
                            #{/list}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>

                <br><br><br>
                <div class="row">
                    <center>
                        <button class="btn btn-success" type="submit" id="createBtn" >
                            &nbsp;&nbsp;Хадгалах&nbsp;&nbsp;
                        </button>&nbsp;&nbsp;
                        <a href="/delete_car/${object.id}" onclick="return confirm('Устгах уу?')">
                            <button id="delete" class="btn btn-danger m-r-20" type="button"/>&nbsp;&nbsp;Устгах&nbsp;&nbsp;</button>
                        </a>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    jQuery('.datetimepicker').each(function () {
        $(this).datetimepicker({lang: 'mn', timepicker: false, format: 'Y-m-d', scrollMonth: false});
    });
    $(document).ready(function () {
        $('select').selectpicker('refresh');

        $("#productForm").submit(function(){
            var valid = true;
            if($("#object_name").val() == null || $("#object_name").val() == ""){
                showErrorMessage("Эзэмшигчийн нэрийг оруулна уу!");
                valid = false;
            }
            else if($("#object_carNumber").val() == null || $("#object_carNumber").val() == ""){
                showErrorMessage("Автомашины дугаарыг оруулна уу!");
                valid = false;
            }
            return valid;
        });
    });

    function addIngredient(){
        var date = new Date();
        var tt = date.getTime();
        $("#productTable").append('<tr id="' + tt + '"><td><input type="text" class="tableInput datetimepicker" name="s_date" value=""/></td>' +
                '<td><input type="text" class="tableInput" name="driver_name" value=""/></td>'+
                '<td><input type="text" class="tableInput" name="receive_km" value=""/></td>'+
                '<td><input type="text" class="tableInput" name="went_km" value=""/></td>'+
                '<td><input type="text" class="tableInput" name="give_km" value=""/></td>'+
                '<td><input type="text" class="tableInput" name="fuel_info" value=""/></td>'+
                '<td><input type="text" class="tableInput" name="fine_info" value=""/></td>'+
                '<td class="text-center" onclick=removeIngredient("' + tt + '")><i class="fa fa-minus-square" ></i></td></tr>');
        $('select').selectpicker('refresh');
        jQuery('.datetimepicker').each(function () {
            $(this).datetimepicker({lang: 'mn', timepicker: false, format: 'Y-m-d', scrollMonth: false});
        });
    }

    function removeIngredient(tt){
        $("#"+tt).remove();
    }
</script>